
<style media="screen">
.myButton{
  width: 200px;
  color: #fff;
  background: #e74c3c;
  display: inline-block;
  padding: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  opacity: 0.8;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.container{
  margin:10%;
}
</style>
<title>FasTer</title>
<div class="container">
<div class="jumbotron text-center">
  <h1>The Best and Affordable Car Service In Town</h1>
  <p>Reach at Your Location Sefly</p>
  <a type="button" href="/login" class="md-button md-raised md-primary myButton" style="padding:10px;"><b>Book Cab</b></a>
</div>
</div>
