
<style media="screen">
  .position
  {
    margin-left: 30%;
    margin-top: 50px;
  }
</style>
<div class="container position">
<div class="col-md-5">
    <div class="well">
    <div class="well sm">
    <h1 class="text-center">Login</h1>
  <form>
    <label><b>UserName</b></label>
    <input  type="text" class="form-control" ng-model = "user.Email" placeholder="Email">
    <br>
    <label><b>Password</b></label>
    <input type= "password" class="form-control" ng-model = "user.Password" placeholder="Password">
    <br>
    <button class="btn btn-primary btn-block" ng-click = "login();">Login</button>
  </form>
</div>
</div>
</div>
</div>
